**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
**/.toolstarget
**/.idea
**/.DS_Store
**/appsettings.*.json
!**/appsettings.json
**/payroll.db
**/payroll.db-shm
**/payroll.db-wal
**/*.lscache

# Allow bin/Release/publish folders
!**/bin/Release/*/publish/**

